body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:visited {
  color: #ffffff;
}

.btn-menu,
.btn-menu:hover,
.btn-menu:focus,
.btn-menu:active {
  border: none;
  background: transparent;
  color: #ffffff;
}

.modal-container {
  padding: 0;
}

.modal-header {
  background: #ffb700;
}

.modal-title {
  color: #ffffff;
}

.btn-create,
.btn-cancel {
  color: #ffffff;
  padding: 0 20px;
  border: none;
}

.btn-create {
  background-color: #ffb700;
}

.btn-cancel {
  background-color: #a65800;
  margin-left: 20px;
}

.btn-create:hover,
.btn-create:focus,
.btn-create:active {
  background-color: #bf9730;
}

.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active {
  background-color: #bf7c30;
}
