.form-login {
  max-width: 300px;
  margin: 10% auto 0;
  padding: 20px;
  color: #ffb700;
  border-top: 5px solid #ffb700;
  box-shadow: 3px 3px 32px rgba(0, 0, 0, 0.25);
}

.form-login .input-group {
  border: 1px solid #ffb700;
  border-radius: 2px;
  margin: 10px 0;
}

.form-login .input-group .input-group-addon {
  border: none;
  background: transparent;
}

.form-login .input-group .form-input {
  border: none;
}
